<% layout("/layouts/boilerplate") %>

    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="alert alert-danger" role="alert">
                    <h4 class="alert-heading">Oops! Something went wrong.</h4>
                    <hr>
                    <p>
                        <%= message %>
                    </p>
                    <a href="/listings" class="btn btn-primary mt-3">
                        Back to Home
                    </a>
                </div>
            </div>
        </div>
    </div>